.link {
  text-decoration: none;
  color: var(--c-grey);
  &--primary {
    color: var(--c-black);
    font-weight: 600;
    letter-spacing: 0.57px;
    padding: 28px 20px;
    position: relative;
    &:after {
      transition: all ease-in-out 300ms;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%);
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 20px solid transparent;
      border-bottom-color: var(--c-green);
    }
    &:hover:after {
      opacity: 1;
    }
  }
  &--secondary {
    font-size: 12px;
    line-height: 1.83;
    font-weight: 600;
    color: var(--c-white);
  }
  &--block {
    display: block;
  }
  &--active {
    &::after {
      opacity: 1;
    }
  }
}
