.footer {
  background-color: var(--c-white);
  margin-top: 60px;
  &__top {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    a + a {
      margin-left: 20px;
    }
    background-color: var(--c-grey);
    height: 40px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
  }
  &__right {
    display: flex;
  }
  &__column {
    padding-right: 60px;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--c-grey);
  }
  &__copyright {
    font-size: 12px;
    color: var(--c-white);
  }
}
