@font-face {
  font-family: "GreycliffCF";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/greycliffcf-regular.woff2") format("woff2");
}

@font-face {
  font-family: "GreycliffCF";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/greycliffcf-demibold.woff2") format("woff2");
}

@font-face {
  font-family: "GreycliffCF";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/greycliffcf-bold.woff2");
}
