.page-cover {
  height: 400px;
  background-image: url("/img/cover-bg.png");
  background-size: cover;
  background-position: center center;
  &__content {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    color: var(--c-white);
    text-align: center;
  }
  &__desc {
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    color: var(--c-white);
    text-align: center;
    line-height: 1.3;
    margin-bottom: 50px;
  }
  &__child {
    width: 100%;
  }
}
